.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: url('/assets/ravenna.png');
  font-family: 'nexa_rust_handmadeextended', sans-serif;
}

.navbar.navbar-inverse {
  background:url('/assets/asfalt.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  color: #818282;
}

.navbar-inverse .navbar-brand {
   color: #818282;
   font-family: 'nexa_rust_slabblack_shadow_01', sans-serif;
}

@-ms-viewport {
  width: device-width;
}

